* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  text-align: center;
}

.container {
  background-color: #fff;
  width: 85%;
  max-width: 30em;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 10px;
  padding: 3.12em 6em;
}

#currentTimeDisplay {
  font-size: 3rem;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(104, 177, 236, 0.25);
  padding: 7px;
  font-family: "Roboto Mono", monospace;
  border-radius: 15px;
  padding-left: 20%;
}
form {
  margin: 14px;
  display: flex;
  flex-direction: column;
}

/* label {
  margin-right: 10px;
} */
.input-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10%;
}

input[type="number"] {
  margin-right: 5px;
  font-size: 16px;
  width: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 23px;
}
input:focus {
  outline: none;
}

#zone-time {
  margin-left: 10px;
  width: 50px;
  height: 26px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  font-size: 16px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  margin: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */
#stop {
  background-color: red;
  width: 65px;
}
#set-alarm {
  background-color: #007bff;
  width: 65px;
  margin-right: 22px;
}

.alarm-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alarm-list .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.alarm-list .info p {
  font-size: 22px;
  margin-left: auto;
}
.alarm-list .delete-btn {
  background-color: lightslategray;
  color: #fff;
}

ion-icon {
  font-size: 22px;
  margin-right: 10px;
}
